body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(25, 25, 25);
    color: white;
}
.title{
    font-size: 30px;
    font-weight: bold;
}
.move-icon{
    height: 50px;
}
.move-button{
    background-color: transparent;
    border: 3px solid white;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    /* padding:30px 30px; */
    margin-right: 5px;
    cursor: pointer;
}
.result{
    font-weight: bold;
    font-size: 25px;
    margin-top: 50px;
}
.score{
    margin-bottom: 60px;
}
.reset-score-button{
    background-color: white;
    color: black;
    border: none;
    padding: 8px 15px ;
    cursor: pointer;
    font-size: 15px;
}